@model Dominio.Entidades.ItensVendas
<table style="width:80%" id="cabecalhoProd">
    <thead>
        <tr id="cabeçalho">
            <th>Código</th>
            <th>Valor unitário</th>
            <th>Quantidade</th>
            <th>Valor Total</th>
        </tr>
    </thead>
</table>