@model Dominio.Entidades.CompraViewModel
@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="~/css/index.css">
    <link rel="stylesheet" href="~/css/index.css">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <script src="https://kit.fontawesome.com/d6011287c4.js" crossorigin="anonymous"></script>
    <title>PDV</title>
</head>
<body>
    <div id="menu">
        <i class="fas fa-user-circle fa-lg" id="user"></i><span>  Usuario</span>
    </div>
    <div id="menula">
      <ul id="itemMenu">
        <li id="menulaLi">
          <a asp-area="" asp-controller="Venda" asp-action="Venda" style="color: black;">
            <i class="fas fa-money-check-alt fa-lg" id="venda" title="Venda"></i>
          </a>     
        </li>
        <li id="menulaLi">
          <a asp-area="" asp-controller="Estoque" asp-action="Estoque" style="color: black;">
            <i class="fas fa-truck-loading fa-lg" id="estoque" title="Estoque"></i>
          </a>
        </li>
      </ul>
  </div>
    <div id="telaVenda">    
      <form asp-action="ItensVenda" asp-controller="Venda" method="POST"> 
      <div id="prod">
      <p>Código do produto</p>
      <div class="input-group mb-3" >
        <input type="text" id="codProd" asp-for ="Item">
          <button class="btn btn-outline-secondary" asp-action="Buscar" asp-controller="Venda" type="button" id="codSearch"><i class="fas fa-search"></i></button>
      </div>
      <div>
        <ul id="InfoProd">
          <li id="infoProd">
            <p id="Qtd">Quantidade</p>
            <input type="number" id="qtd" asp-for ="Quantidade">
          </li>
          <li id="infoProd">
            <p style="text-align: left; margin-left: 10px;">Valor unitário</p>
            <input type="Number" id="valorUni" asp-for ="ValorUnitario">
          </li>
          <li id="infoProd">
            <p style="text-align: left; margin-left: 10px;">Valor Total</p>
            <input type="text" onfocus="valorTotal()" id="valorTot">
          </li>
        </ul>
        <br>
        <button class="btn btn-primary" id="add">Adicionar item</button>
      </div>
      <div id="listaProd" cols="30" rows="10">
          @Html.Partial("_ItensCompra")
      </div>
      </form>
    </div>  

    <button type="button" class="btn btn-success" id="buy" onclick="openModal('dv-modal')">Finalizar compra</button>
    <button type="button" class="btn btn-danger" id="cancel">Cancelar compra</button>

    <div id="dv-modal" class="modal">
      <form asp-action="Venda" asp-controller="Venda" method="POST"> 
      <div class="modal-content">
          <div class="modal-header">
              <h1>Pagamento</h1>
          </div>

          <div class="modal-body">
              <label>Valor Total (R$)</label>
              <input type="number" placeholder="0,00" asp-for = "ValorTotal" id="total"> </input>             
              <label>Forma de Pagamento</label>
              <select asp-for = "FormaPagamento">
                <option value="Dinheiro">Dinheiro</option>
                <option value="Card">Cartão de crédito</option>
                <option value="Debit card">Cartão de débito</option>
                <option value="Check">Cheque</option>
              </select>
              <label>Parcelas</label>
              <input type="number" placeholder="0,00" asp-for ="Parcelas"> </input>
              <label>Valor Recebido (R$)</label>
              <input type="number" placeholder="0,00" id="recebido"> </input>
              <label>Troco (R$)</label>
              <input type="text" placeholder="0,00" id="troco" onfocus="CalcTroco()"> </input>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="closeModal('dv-modal')">Voltar</button>
              <button class="btn btn-primary">Concluir</button>
          </div>
          </form>
      </div>
  </div>

  <script src="~/js/script.js"></script>
      

  </body>
</html>