#menula{
    width: 60px;
    height:620px;
    background-color: dodgerblue;
    margin-top: -4%;
}
#menu{
    width: 100%;
    height:50px;
    background-color: dodgerblue;
    margin-top: 0px;
}

body{
    margin-left: 0px;
    margin-top: 20%;
}
#user{
    color:white;
    height: 30px;
    margin-top: 15px;
    background-color: dodgerblue;
    margin-left: 1170px;
}
#itemMenu{
    background-color: dodgerblue;
    margin-left: -40px;
    margin-top: 50px;
    height: 30px;
    left: -10px;
    list-style: none;
}
#menulaLi{
    margin-top: 10px;
    padding-top: 23px;
    width: 57px;
    height: 60px;
    margin-left: 8px;
}
#venda{
    width: 60px;
    height: 60px;
    padding-left: 15px;
    padding-top: 23px;
}
#venda:hover{
    background-color: gold;
}

#estoque:hover{
    background-color: gold;
}

#estoque{
    width: 60px;
    height: 60px;
    padding-left: 15px;
    padding-top: 23px;
}

#telaVenda{
    margin-top: -50%;
}

#prod{
    margin-left: 80px;
    margin-top: 5%;
}
#codSearch{
    background-color:black;
    height: 30px;
}
#codProd{
    width: 350px;
    height: 30px;
    top: -50px;
    border-radius: 5%;
}

#qtd{
    width: 90px;
    height: 30px;
}
#InfoProd{
    list-style: none;
    margin-left: -30px;
}

#valorUni{
    margin-left: 10px;
    height: 30px;
    width: 130px;
}
#valorTot{
    margin-left: 10px;
    height: 30px;
    width: 130px;
}
#infoProd{
    display: inline-block;
}
#add{
    width: 390px;
    height: 60px;
    font-size: 20px;
}

#listaProd{
    height: 400px;
    width: 700px;
    margin-left: 40%;
    margin-top: -19%;
}
#buy{
    margin-top: 4%;
    margin-left: 80%;
    height: 50px;
    width: 200px;
    font-size: 20px;
}
#cancel{
    margin-top: -5.8%;
    margin-left:60%;
    height: 50px;
    width: 200px;
    font-size: 20px;
}

.btn {
    background-color: rgb(33, 156, 70);
    padding: 5px 10px 5px 10px;
    border: 2px solid rgb(4, 92, 30);
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;
    color: #FFF;
}

.btn:active {
    background-color: rgb(129, 255, 166);
    color: rgb(4, 92, 30);
}

.modal {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}

.modal-content {
    margin: 0 auto;
    margin-top: 10%;
    max-width: 800px;
    background-color:white;
    padding: 0;
    box-shadow: white;
}

.modal-header h1{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.modal-header, .modal-body, .modal-footer{
    padding: 0px;
}

.modal-header{
    background-color:white;
}

.modal-footer{
    background-color: white;
}

label{
    margin-left: 5vh;
    margin-bottom: 2vh;
}
input{
    left: 100px;
}